body {
    text-align: center;
  }

  nav {
    background-color: rgb(242, 173, 248);
    padding: 10px;
  }

  a {
    color: white;
    margin: 40px;
  }

  h1 {
    color: steelblue;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }