.primary{
    background-color: #d7c0d0;

}

.secondary{
    background-color: #330036;
    color: white;
}

.accent1{
    background-color: black;
    color: white;
}

.accent2{
    background-color: #d7c0d0;

}
.colored{
    background-color: #d7c0d0;
}
nav{
    background-color: #d7c0d0;
}

div,section,main,aside,header,footer {
        border:1px solid black;padding:.5em;margin-bottom:1em;
    }